mlflow==2.12.1
pandas==2.1.4
numpy==2.3.4
scikit-learn==1.4.0
great-expectations==0.18.22
evidently==0.4.9
fastapi==0.110.0
uvicorn==0.29.0
python-dotenv
prometheus-client
rich
requests
psutil==7.1.1
pyarrow==22.0.0
